.avatar {
	border-radius: 40px;
	display: block;
	margin: 0px auto;
}

.card.mdl-card {
	margin: 10px;
}

.github {
	padding-top: 32px;
	padding-left: 40px;
	background-image: url("../img/GitHub-Mark-32px.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}
.nome{
	text-decoration: underline;
	text-align: center;
}
