.avatar {
	border-radius: 40px;
	display: block;
	margin: 0px auto;
}

.card.mdl-card {
	margin: 10px;
}

.nome {
	text-decoration: underline;
	text-align: center;
}

.github {
	height: 320px;
}

.github > .mdl-card__title{
	color: #fff;
	background: url('../img/GitHub-Mark-120px-plus.png') bottom right 15% no-repeat #46B6AC;
}
